@font-face{
	font-family: cord;
	src: local("cord"),
	     url(cord.ttf);
}
@font-face{
	font-family: bro;
	src: local("bro"),
	     url(bro.ttf);
}
div{
	margin: 10px;
}
a{
	margin: 10px;
	font-family: bro;
	color: #800000;
	font-weight: bold;
	font-size: 16pt;
	text-decoration: none;
}
#all{	
	text-align: center;
}
.header{
	margin-top: 7%;
	text-align: center;
	font-family: cord;
	font-size: 32pt;
	magrin-bottom: 20px;
	color: #800000;
}
.subheader{
	text-align: center;
	font-family: bro;
	font-size: 18pt;
	magrin-bottom: 5px;
	color: #800000;
}
body{
	background: url(bg.jpeg);
}
#youentered{
	position: absolute;
	top: 5%;
	right: 5%;
	font-size: 14px;
}
#back{
	position: absolute;
	bottom: 5%;
	left: 47%;
}
.logout{
	position: absolute;
	right: 2%;
	top: 15%;
}
.registr{	
	position: absolute;
	left: 43%;
	top: 30%;
}
.author{
	position: absolute;
	left: 43%;
	top: 60%;
}
input{
	font-family: bro;
	background-color: #FFE4E1;
	font-size: 16pt;
	border: 1px solid black;
	color: #FA8072;
}
.buttons{
	margin: 10px;
	font-family: bro;
	background-color: transparent;
	font-size: 18pt;
	border: 1px solid #800000;
	border-radius: 20px;
	color: #800000;
}
#user{
	text-align: right;
	color: #800000;
	margin-top: 5%;
	font-size: 16pt;
}
#difficult{
	font-size: 20pt;
}
#tryagain{
	position: absolute;
	bottom: 35%;
	left: 42%;
}
#again{
	position: absolute;
	bottom: 35%;
	left: 27%;
}
.child{ 
	position: absolute; 
	top: 35%; 
	left: 53%; 
	margin: -125px 0 0 -125px; 
} 
#remark{ 
	width: 100%; 
	text-align: center; 
	position: absolute; 
	bottom: 45%; 
	color: #B22222; 
	font-size: 20px; 
} 
td{
	text-align: center;
	font-weight: bold;
}
#yes{
	position: absolute;
	bottom: 26%;
	left: 43%;
}
#no{
	position: absolute;
	bottom: 26%;
	left: 56%;
}
#andagain{
	position: absolute;
	bottom: 26%;
	left: 45%;
}




