.youlogin{
	position: absolute;
	left: 43%;
	top: 47%;
}
#user{
	text-align: right;
	color: #800000;
	margin-top: 5%;
	font-size: 16pt;
}
canvas{
	position: absolute;
	left: 35%; 
	top: 20%;
	background-color: white;
}































